<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-init-method="myInit" default-destroy-method="myCleanUp">
   <bean id="triangle" class="com.raunaqpahwa.Triangle" autowire="byName">
   </bean>
   <bean id="pointA" class="com.raunaqpahwa.Point">
   		<property name="x" value="${pointA.pointX}" />
   		<property name="y" value="${pointA.pointY}" />
   </bean>
   <bean id="pointB" class="com.raunaqpahwa.Point">
   		<property name="x" value="20" />
   		<property name="y" value="0" />
 	</bean>
 	<bean id="pointC" class="com.raunaqpahwa.Point">
  		<property name="x" value="0" />
   		<property name="y" value="20" />
   	</bean>
   	<bean class="com.raunaqpahwa.MyBeanFactoryPostProcessor" />
   	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   		<property name="locations" value="pointsconfig.properties" />
   	</bean>
   	<!-- <bean class="com.raunaqpahwa.DisplayNameBeanPostProcessor" /> -->
   <alias name="triangle" alias="triangle-alias" />
</beans>
